In [2]:
import pandas as pd
house = pd.read_csv('datas/WestRoxbury.csv')
house.head()

,TOTAL VALUE,TAX,LOT SQFT,GROSS AREA,LIVING AREA,FLOORS,ROOMS,BEDROOMS,FULL BATH,HALF BATH,KITCHEN,FIREPLACE
0,344.2,4330,9965,2436,1352,2.0,6,3,1,1,1,0
1,412.6,5190,6590,3108,1976,2.0,10,4,2,1,1,0
2,330.1,4152,7500,2294,1371,2.0,8,4,1,1,1,0
3,498.6,6272,13773,5032,2608,1.0,9,5,1,1,1,1
4,331.5,4170,5000,2370,1438,2.0,7,3,2,0,1,0

In [5]:
# print out columes name
print(house.columns.values)

['TOTAL VALUE' 'TAX' 'LOT SQFT' 'GROSS AREA' 'LIVING AREA' 'FLOORS'
 'ROOMS' 'BEDROOMS' 'FULL BATH' 'HALF BATH' 'KITCHEN' 'FIREPLACE']

In [15]:
# Choose predictors to construct attribute matric
select_index = ['GROSS AREA', 'FLOORS', 'ROOMS']
house_X = house.loc[:, select_index]
print(house_X.shape)

(5802, 3)

In [16]:
# Target
house_y = house.iloc[:,0]

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = \
    train_test_split(house_X, house_y, test_size = 0.3, random_state=42)

In [18]:
print(y_valid.shape)

(1741,)

In [19]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [22]:
import numpy as np 

# train the model using the training set
model.fit(X_train,y_train)

LinearRegression()

In [23]:
print(model.coef_)

[ 0.07365711 52.30357956  6.42323096]

In [24]:
print(model.intercept_)

43.63251892929634

In [26]:
# make predictions 
y_pred = model.predict(X_valid)

In [28]:
print(y_pred)

[324.36351226 348.96498679 301.31235296 ... 347.42521939 536.53314407
 359.09316756]

In [33]:
# gross area = 2655, floors=1.5, rooms=6
model.predict([[2655, 1.5, 6]])     # a list of list data

array([356.18689946])

In [41]:
e = y_valid - y_pred
mae = np.mean(np.abs(e))
print("mae:",mae)

mae: 0.0

In [42]:
y_pred_train = model.predict(X_train)
e = y_train - y_pred_train
mae = np.mean(np.abs(e))
print("mae:",mae)

mae: 39.888448920006006