In [1]:
print("hahahaha")

hahahaha

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("AAPL.csv")

In [4]:
df.head

<bound method NDFrame.head of             Date        High         Low  ...       Close       Volume   Adj Close
0     2006-01-03    2.669643    2.580357  ...    2.669643  807234400.0    2.284267
1     2006-01-04    2.713571    2.660714  ...    2.677500  619603600.0    2.290990
2     2006-01-05    2.675000    2.633929  ...    2.656429  449422400.0    2.272961
3     2006-01-06    2.739286    2.662500  ...    2.725000  704457600.0    2.331634
4     2006-01-09    2.757143    2.705000  ...    2.716071  675040800.0    2.323994
...          ...         ...         ...  ...         ...          ...         ...
3744  2020-11-16  120.989998  118.150002  ...  120.300003   91183000.0  120.300003
3745  2020-11-17  120.669998  118.959999  ...  119.389999   74271000.0  119.389999
3746  2020-11-18  119.820000  118.000000  ...  118.029999   76322100.0  118.029999
3747  2020-11-19  119.059998  116.809998  ...  118.639999   74113000.0  118.639999
3748  2020-11-20  118.769997  117.290001  ...  117.339996   73391400.0  117.339996

[3749 rows x 7 columns]>

In [5]:
# df.fillna(-999999999, inplace=True)   #fill null with, may NOT need to do this

In [6]:
new_df = df[['Date','Adj Close']]

In [7]:
df.drop(df.head(1).index,inplace=True) # drop first row

In [8]:
new_df.drop(new_df.tail(1).index,inplace=True) # drop last n rows

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [9]:
df.reset_index(drop=True, inplace=True)
df.head

<bound method NDFrame.head of             Date        High         Low  ...       Close        Volume   Adj Close
0     2006-01-04    2.713571    2.660714  ...    2.677500  6.196036e+08    2.290990
1     2006-01-05    2.675000    2.633929  ...    2.656429  4.494224e+08    2.272961
2     2006-01-06    2.739286    2.662500  ...    2.725000  7.044576e+08    2.331634
3     2006-01-09    2.757143    2.705000  ...    2.716071  6.750408e+08    2.323994
4     2006-01-10    2.924643    2.708214  ...    2.887857  2.279869e+09    2.470982
...          ...         ...         ...  ...         ...           ...         ...
3743  2020-11-16  120.989998  118.150002  ...  120.300003  9.118300e+07  120.300003
3744  2020-11-17  120.669998  118.959999  ...  119.389999  7.427100e+07  119.389999
3745  2020-11-18  119.820000  118.000000  ...  118.029999  7.632210e+07  118.029999
3746  2020-11-19  119.059998  116.809998  ...  118.639999  7.411300e+07  118.639999
3747  2020-11-20  118.769997  117.290001  ...  117.339996  7.339140e+07  117.339996

[3748 rows x 7 columns]>

In [10]:
new_df.reset_index(drop=True, inplace=True)
new_df.head

<bound method NDFrame.head of             Date   Adj Close
0     2006-01-03    2.284267
1     2006-01-04    2.290990
2     2006-01-05    2.272961
3     2006-01-06    2.331634
4     2006-01-09    2.323994
...          ...         ...
3743  2020-11-13  119.260002
3744  2020-11-16  120.300003
3745  2020-11-17  119.389999
3746  2020-11-18  118.029999
3747  2020-11-19  118.639999

[3748 rows x 2 columns]>

In [11]:
df['amountChange'] = new_df['Adj Close'] - df['Adj Close']

In [12]:
df.head

<bound method NDFrame.head of             Date        High  ...   Adj Close  amountChange
0     2006-01-04    2.713571  ...    2.290990     -0.006723
1     2006-01-05    2.675000  ...    2.272961      0.018029
2     2006-01-06    2.739286  ...    2.331634     -0.058672
3     2006-01-09    2.757143  ...    2.323994      0.007640
4     2006-01-10    2.924643  ...    2.470982     -0.146988
...          ...         ...  ...         ...           ...
3743  2020-11-16  120.989998  ...  120.300003     -1.040001
3744  2020-11-17  120.669998  ...  119.389999      0.910004
3745  2020-11-18  119.820000  ...  118.029999      1.360001
3746  2020-11-19  119.059998  ...  118.639999     -0.610001
3747  2020-11-20  118.769997  ...  117.339996      1.300003

[3748 rows x 8 columns]>

In [13]:
df['Target'] = np.where(df['amountChange'] / df['Adj Close']>=0.01 , 1, 0)

In [14]:
df.head

<bound method NDFrame.head of             Date        High         Low  ...   Adj Close  amountChange  Target
0     2006-01-04    2.713571    2.660714  ...    2.290990     -0.006723       0
1     2006-01-05    2.675000    2.633929  ...    2.272961      0.018029       0
2     2006-01-06    2.739286    2.662500  ...    2.331634     -0.058672       0
3     2006-01-09    2.757143    2.705000  ...    2.323994      0.007640       0
4     2006-01-10    2.924643    2.708214  ...    2.470982     -0.146988       0
...          ...         ...         ...  ...         ...           ...     ...
3743  2020-11-16  120.989998  118.150002  ...  120.300003     -1.040001       0
3744  2020-11-17  120.669998  118.959999  ...  119.389999      0.910004       0
3745  2020-11-18  119.820000  118.000000  ...  118.029999      1.360001       1
3746  2020-11-19  119.059998  116.809998  ...  118.639999     -0.610001       0
3747  2020-11-20  118.769997  117.290001  ...  117.339996      1.300003       1

[3748 rows x 9 columns]>

In [15]:
df['Target'].value_counts()

0    2914
1     834
Name: Target, dtype: int64

In [16]:
# ========================================================================================

In [17]:
# # # decision tree
# from sklearn import tree

# clf = tree.DecisionTreeClassifier()
# clf = clf.fit(df[['High', 'Low', 'Open', 'Close', 'Volume']], df['Target'])

In [18]:
# tree.plot_tree(clf)

In [19]:
# ========================================================================================

In [20]:
# ======================================================================================

In [21]:
lookBackDays = 1

In [22]:
# df.drop(df.head(1).index,inplace=True) # drop first row
# df.reset_index(drop=True, inplace=True)

# new_df.drop(new_df.tail(1).index,inplace=True) # drop last n rows
# new_df.reset_index(drop=True, inplace=True)

In [23]:
target_df = df['Target']

In [24]:
df.keys()

Index(['Date', 'High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close',
       'amountChange', 'Target'],
      dtype='object')

In [25]:
df['HL_dis'] = df['High'] - df['Low']
df['OC_dis'] = df['Open'] - df['Close']

In [26]:
# =========================================================================================
# the current way of normalize may not work!!!!   (need more research, but most likely is by colume)
# 
# Need to normalize per time period with 'High', 'Low', 'Open', 'Close'
# farther more may need to keep the upper and lower distance (more like shift the period of graph to center, but dont stretch it fully between 1 and -1)
# 
# For now will do the re-center of each time period, but fully stretch (12-17-2020)
# =========================================================================================

In [27]:
# df1 = df[['High', 'Low', 'Open', 'Close', 'Volume']]
df1 = df[['High', 'Low', 'Open', 'Close']]
# df1 = df[['HL_dis', 'OC_dis', 'Volume']]
# df1 = df['Date']
# df1 = df['Volume']

df2 = df1

In [28]:
df1

            High         Low        Open       Close
0       2.713571    2.660714    2.683214    2.677500
1       2.675000    2.633929    2.672500    2.656429
2       2.739286    2.662500    2.687500    2.725000
3       2.757143    2.705000    2.740357    2.716071
4       2.924643    2.708214    2.723214    2.887857
...          ...         ...         ...         ...
3743  120.989998  118.150002  118.919998  120.300003
3744  120.669998  118.959999  119.550003  119.389999
3745  119.820000  118.000000  118.610001  118.029999
3746  119.059998  116.809998  117.589996  118.639999
3747  118.769997  117.290001  118.639999  117.339996

[3748 rows x 4 columns]

In [29]:
if lookBackDays > 1:
  target_df.drop(target_df.head(lookBackDays).index,inplace=True) # drop number of lookBackDays row
  target_df.reset_index(drop=True, inplace=True)

for i in range(1, lookBackDays):
  df1.drop(df1.head(1).index,inplace=True) # drop first row
  df1.reset_index(drop=True, inplace=True)

  df2.drop(df2.tail(1).index,inplace=True) # drop last n rows
  df2.reset_index(drop=True, inplace=True)

  df1 = pd.concat([df1, df2], axis=1, ignore_index=True)

In [30]:
df1

            High         Low        Open       Close
0       2.713571    2.660714    2.683214    2.677500
1       2.675000    2.633929    2.672500    2.656429
2       2.739286    2.662500    2.687500    2.725000
3       2.757143    2.705000    2.740357    2.716071
4       2.924643    2.708214    2.723214    2.887857
...          ...         ...         ...         ...
3743  120.989998  118.150002  118.919998  120.300003
3744  120.669998  118.959999  119.550003  119.389999
3745  119.820000  118.000000  118.610001  118.029999
3746  119.059998  116.809998  117.589996  118.639999
3747  118.769997  117.290001  118.639999  117.339996

[3748 rows x 4 columns]

In [31]:
# ========================================================================================

In [32]:
# # decision tree
# from sklearn import tree

# clf = tree.DecisionTreeClassifier()
# clf = clf.fit(df1, target_df)
# tree.plot_tree(clf)

In [33]:
# ========================================================================================

In [34]:
import tensorflow
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Activation, Dense, BatchNormalization, Conv2D, Flatten
from tensorflow.keras.optimizers import Adam, SGD
from tensorflow.keras.metrics import categorical_crossentropy
from tensorflow.keras.preprocessing.image import ImageDataGenerator

In [35]:
import tensorflow as tf
print("Num GPUs Available: ", len(tf.config.experimental.list_physical_devices('GPU')))

Num GPUs Available:  1

In [36]:
import numpy as np
from random import randint
from sklearn.utils import shuffle
from sklearn.preprocessing import MinMaxScaler

In [37]:
train_labels = []
train_samples = []

train_labels = np.array(target_df)
train_samples = np.array(df1)
# train_labels, train_samples = shuffle(train_labels, train_samples)

In [38]:
# may need to normalize per each row for high, low, open, close; then normalize volume per colume

In [39]:
scaler = MinMaxScaler(feature_range=(0,1))
scaled_train_samples = scaler.fit_transform(train_samples.T).T

In [40]:
# # decision tree
# from sklearn import tree

# clf = tree.DecisionTreeClassifier()
# clf = clf.fit(df1, target_df)
# tree.plot_tree(clf)

In [41]:
scaled_train_samples = train_samples

In [42]:
#Get the number of rows to train the model on 
# training_data_len = math.ceil(len(dataset)*0.75)

In [43]:
scaled_train_samples.shape[1]

4

In [44]:
model = Sequential([
    # Flatten(input_shape=(scaled_train_samples.shape[1],)),
    Dense(units=128, input_shape=(scaled_train_samples.shape[1],), activation='relu'),
    Dense(units=128, activation='relu'),
    Dense(units=32, activation='relu'),
    Dense(units=2, activation='softmax')
    # Dense(units=1, activation='sigmoid')
])

In [45]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 128)               640
_________________________________________________________________
dense_1 (Dense)              (None, 128)               16512
_________________________________________________________________
dense_2 (Dense)              (None, 32)                4128
_________________________________________________________________
dense_3 (Dense)              (None, 2)                 66
=================================================================
Total params: 21,346
Trainable params: 21,346
Non-trainable params: 0
_________________________________________________________________

In [46]:
model.save_weights('model.h5')

In [47]:
model.load_weights('model.h5')

In [48]:
model.compile(optimizer=Adam(learning_rate=0.0001), loss='sparse_categorical_crossentropy', metrics=['accuracy'])
# model.compile(optimizer=Adam(learning_rate=0.0001), loss='binary_crossentropy', metrics=['TruePositives','FalsePositives', 'accuracy'])
# model.compile(optimizer=SGD(learning_rate=0.0001), loss='mse', metrics=['TruePositives', 'FalsePositives'])


model.fit(x=scaled_train_samples, y=train_labels, validation_split=0.25, batch_size=1, epochs=15, verbose=2)

Epoch 1/15
2811/2811 - 5s - loss: 0.5659 - accuracy: 0.7666 - val_loss: 0.7587 - val_accuracy: 0.8090
Epoch 2/15
2811/2811 - 4s - loss: 0.5451 - accuracy: 0.7652 - val_loss: 0.6167 - val_accuracy: 0.8090
Epoch 3/15
2811/2811 - 4s - loss: 0.5362 - accuracy: 0.7649 - val_loss: 0.6098 - val_accuracy: 0.8090
Epoch 4/15
2811/2811 - 4s - loss: 0.5266 - accuracy: 0.7670 - val_loss: 0.4120 - val_accuracy: 0.8154
Epoch 5/15
2811/2811 - 4s - loss: 0.5205 - accuracy: 0.7663 - val_loss: 0.3849 - val_accuracy: 0.8282
Epoch 6/15
2811/2811 - 4s - loss: 0.5088 - accuracy: 0.7670 - val_loss: 0.4659 - val_accuracy: 0.8186
Epoch 7/15
2811/2811 - 4s - loss: 0.4931 - accuracy: 0.7727 - val_loss: 0.5163 - val_accuracy: 0.8260
Epoch 8/15
2811/2811 - 4s - loss: 0.4825 - accuracy: 0.7752 - val_loss: 0.3537 - val_accuracy: 0.8495
Epoch 9/15
2811/2811 - 4s - loss: 0.4655 - accuracy: 0.7805 - val_loss: 0.3023 - val_accuracy: 0.8815
Epoch 10/15
2811/2811 - 4s - loss: 0.4441 - accuracy: 0.7926 - val_loss: 0.8065 - val_accuracy: 0.8346
Epoch 11/15
2811/2811 - 4s - loss: 0.4297 - accuracy: 0.7994 - val_loss: 0.3250 - val_accuracy: 0.8890
Epoch 12/15
2811/2811 - 4s - loss: 0.4155 - accuracy: 0.8090 - val_loss: 0.5145 - val_accuracy: 0.8282
Epoch 13/15
2811/2811 - 4s - loss: 0.4083 - accuracy: 0.8175 - val_loss: 0.5041 - val_accuracy: 0.8719
Epoch 14/15
2811/2811 - 4s - loss: 0.3940 - accuracy: 0.8292 - val_loss: 0.9653 - val_accuracy: 0.8485
Epoch 15/15
2811/2811 - 4s - loss: 0.4020 - accuracy: 0.8225 - val_loss: 0.5024 - val_accuracy: 0.8420

In [49]:
from sklearn.metrics import confusion_matrix

In [50]:
# just to try with all data, should be used on test data
predictions = model.predict(
      x=scaled_train_samples
    , batch_size=1
    , verbose=1
)

3748/3748 [==============================] - 4s 971us/step

In [51]:
# # for i in predictions:
# #     print(i)
predictions

array([[0.6488615 , 0.3511385 ],
       [0.6380454 , 0.3619546 ],
       [0.6958307 , 0.3041693 ],
       ...,
       [0.33262366, 0.6673764 ],
       [0.9984749 , 0.00152507],
       [0.02236692, 0.97763306]], dtype=float32)

In [52]:
rounded_predictions = np.argmax(predictions, axis=-1)
cm = confusion_matrix(y_true=train_labels, y_pred=rounded_predictions, labels=[0,1])
cm

array([[2579,  335],
       [ 228,  606]])

In [53]:
# 0    2623
# 1    1125

In [54]:
# 0    2914
# 1     834
# Name: Target, dtype: int64